<h2 class="text-center">Статистика пользователей по вопросам:</h2>
<%= pie_chart @question_rating %>

<h2 class="text-center">Статистика пользователей по ответам:</h2>
<%= pie_chart @answers_rating %>

