<% if answers.count > 0 %>
    <h2>Ответы:</h2>
    <% answers.each do |answer| %>
        <div class="col-md-offset-1 col-md-10">
          <h3><%= answer.user.username %> ответил:</h3>
          <p class="text-justify">
            <%= answer.text %>
          </p>
          <p class="text-right">
            <%= answer.created_at.strftime "%F" %>
          </p>
          <% if user_signed_in? %>
            <% if current_user.id == answer.user_id %>
              <p class="text-right">
                <%= link_to 'Удалить', "/answer/#{answer.id}", method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger small' %>
              </p>
            <% end %>
          <% end %>
        </div>
    <% end %>
<% else %>
    <h2>Ответов пока нет</h2>
<% end %>