/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require select2
 *= require select2-bootstrap
 *= require bootsy
 *= require froala_editor.min.css
 *= require froala_style.min.css
 *= require_self
 *= require_tree .
 */

@import "bootstrap-sprockets";
@import "bootstrap";

$link-color: #3bbfce;
$link-hover-color: darken($link-color, 15%);

ul li a{
  color: #000000;
  text-transform: none;
  letter-spacing: 1px;
  font-size: 14px;
  text-align: justify;
}

ul li.active a{
  color: #4AA48D;
}

ul li:hover a{

}

a{
  color: #666;
}

a.active{
  color: #4AA48D;
}

a.hover{
  color: #000000;
}

a span {
  color: #ffffff;
}

td a {
  margin-top: 30%;
}

.rating{
  //margin-top: 180%;
}

.upper{
  margin-top: 50px;
}

.well:after
{
  content: ".";
  display:block;
  height:0;
  clear:both;
  visibility:hidden;
}

#tag_cloud {
  width: 400px;
  line-height: 1.6em;
  .s { font-size: 0.8em; }
  .m { font-size: 1.2em; }
  .l { font-size: 1.8em; }
}
